<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <div class ="bigtext">
      Ui designer and Android developer
    </div>
    <img class ="bigPicture" src="assets/bigPicture.svg" alt="big pic">
    <button class="cvButton"><span class="cvButtonText">Download CV</span></button>
    <div class="social-buttons">
      <a href="#" class="social-button social-button--linkedin">
        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
      <a href="#" class="social-button social-button--github">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
      <a href="#" class="social-button social-button--mail">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
    <img class="springarrow" src="assets/springArrow.svg" alt="spring arrow">
    <button class="firstNavButton"> <img class="firstNavButtonIcon" src="assets/downIcon.svg" alt="spring arrow"></button>
    <div>
      <img class="about1" src="assets/about1.svg" alt="aboutme pictures">
      <img class="about2" src="assets/about2.svg" alt="aboutme pictures">
      <img class="about3" src="assets/about3.svg" alt="aboutme pictures">
      <h1 class="aboutHead" >About Me</h1>
      <div class="aboutText">Lazy right now ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.... Read more</div>
      <img class="aboutBigPicture" src="assets/aboutBigPicture.svg" alt="aboutme pictures">
    </div>
    <div>
      <img class="dg1" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg2" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg3" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg4" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg5" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg6" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg7" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg8" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg9" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg10" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg11" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg12" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg13" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg14" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg15" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg16" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg17" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg18" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg19" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg20" src="assets/doodleGround.svg" alt="doodleGround">

    </div>
    <div>
      <h1 class="myWork">My work</h1>
      <button class="chip1"> <span class="chipText">All</span></button>
      <button class="chip2"> <span class="chipText2">Android Apps</span></button>
      <button class="chip3"> <span class="chipText">UI/UX</span></button>
      <button class="chip4"> <span class="chipText">Web</span></button>
      <button class="project1"></button>
      <img class="project1Pic" src="assets/project1.png" alt="aboutme pictures">
      <span class="project1Title">Attendance Saver</span>
      <span class="project1Desc">Android application used for tracking attendance and calculating absence chances for MIU students live on play store. </span>
      <button class = "project1Link"><img src="assets/googleplay.png" alt="google play"></button>
      <h1 class="project1Tech">Kotlin, Jetpack compose, Material Design 3, ROOM, MVVM, Clean Architecture</h1>
      <button class="project2"></button>
      <img class="project2Pic" src="assets/project2.png" alt="aboutme pictures">
      <span class="project2Title">My Track</span>
      <span class="project2Desc">Workout tracker with a focus on simplicity and clean design, Contains workout log, history, workout plans, body measurement and more.</span>
      <button class = "project2Link"><span class="project2LinkText">Early access</span></button>
      <h1 class="project2Tech">Kotlin, Jetpack compose, Material Design 3, FireBase, MVVM, Clean Architecture.</h1>
      <button class="project3"></button>
      <img class="project3Pic" src="assets/project3.png" alt="aboutme pictures">
      <span class="project3Desc">Android app for groceries and to-dos, with ability to share with friends and play simple games for who to pay or share tasks and do it together. </span>
      <button class = "project3Link"><span class="project3LinkText">Desgining</span></button>
      <button class="project4"></button>
      <img class="project4Pic" src="assets/project4.png" alt="aboutme pictures">
      <span class="project4Title">Airways flight booking website</span>
      <span class="project4Desc">Full stack flight booking website with 3 different type of users, Customer can book flights, checkout and rate, Customer service can help users with everything from finding flights to checking out and reviewing customer rating, Quality control insures that everything is working fine between Customers and Customer service.</span>
      <button class = "project4Link"><img src="assets/github.png" alt="github"></button>
      <h1 class="project4Tech">PHP, CSS, HTML, JavaScript, MySQL</h1>


    </div>

    <div>
      <img class="contactPic1" src="assets/contactPic1.svg" alt="contactMe">
      <h1 class="contactText">Got a project in mind?</h1>
      <form action="">
        <input type="text"id="name"name="name"class="contactNameInput"/>
        <input type="email"id="email"name="email"class="contactEmailInput"/>
        <input type="text"id="msg"name="msg"class="contactMessageContainer"/>
        <button class="contactSend"><span class="contactSendText">Send Message</span></button>
      </form>
      <h1 class="contactInfoName">Your name</h1>
      <h1 class="contactInfoEmail">Your Email</h1>
      <h1 class="contactMessage">Your Message</h1>
      <img class="contactSendIcon" src="assets/send.png" alt="contactMe">
      <img class="springArrow2" src="assets/springArrow2.svg" alt="contactMe">
      <img class="contactMePic" src="assets/contactMePic.svg" alt="contactMe">
      <img class="contactPic2" src="assets/contactPic2.png" alt="contactMe">

    </div>

    <div class="footerr"></div>
    <h1 class="f1">Get in touch</h1>
      <a class="f11" href="#">mnasr48@gmail.com</a>
      <h1 class="f2">Connect</h1>
      <a class="f21" href="#">LinkedIn</a>
      <a class="f22" href="#">GitHub</a>
      <h1 class="f3">Explore</h1>
      <a class="f31" href="#">Home</a>
      <a class="f32" href="#">About me</a>
      <a class="f33" href="#">Work</a>
      <a class="f34" href="#">Contact me</a>
      <h1 class="f4">Favourites</h1>
      <h1 class="f5">Mohammed Nasr Ahmed - 2023</h1>
</body>

</html>
