<html>
  <body>
    <div>
      <img class="about1" src="assets/about1.svg" alt="aboutme pictures">
      <img class="about2" src="assets/about2.svg" alt="aboutme pictures">
      <img class="about3" src="assets/about3.svg" alt="aboutme pictures">
      <h1 class="aboutHead" >About Me</h1>
      <div class="aboutText">Lazy right now ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.... Read more</div>
      <img class="aboutBigPicture" src="assets/aboutBigPicture.svg" alt="aboutme pictures">
    </div>
  </body>
</html>
