<html>
  <body>
    <div>
      <img class="dg1" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg2" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg3" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg4" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg5" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg6" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg7" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg8" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg9" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg10" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg11" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg12" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg13" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg14" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg15" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg16" src="assets/doodleGround.svg" alt="doodleGround">

      <img class="dg17" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg18" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg19" src="assets/doodleGround.svg" alt="doodleGround">
      <img class="dg20" src="assets/doodleGround.svg" alt="doodleGround">

    </div>
    <div>
      <h1 class="myWork">My work</h1>
      <button class="chip1"> <span class="chipText">All</span></button>
      <button class="chip2"> <span class="chipText2">Android Apps</span></button>
      <button class="chip3"> <span class="chipText">UI/UX</span></button>
      <button class="chip4"> <span class="chipText">Web</span></button>
      <button class="project1"></button>
      <img class="project1Pic" src="assets/project1.png" alt="aboutme pictures">
      <span class="project1Title">Attendance Saver</span>
      <span class="project1Desc">Android application used for tracking attendance and calculating absence chances for MIU students live on play store. </span>
      <a href="https://play.google.com/store/apps/details?id=com.owner.attendancesaver"><button class = "project1Link"><img src="assets/googleplay.png" alt="google play"></button></a>
      <h1 class="project1Tech">Kotlin, Jetpack compose, Material Design 3, ROOM, MVVM, Clean Architecture</h1>
      <button class="project2"></button>
      <img class="project2Pic" src="assets/project2.png" alt="aboutme pictures">
      <span class="project2Title">My Track</span>
      <span class="project2Desc">Workout tracker with a focus on simplicity and clean design, Contains workout log, history, workout plans, body measurement and more.</span>
      <button class = "project2Link"><span class="project2LinkText">Early access</span></button>
      <h1 class="project2Tech">Kotlin, Jetpack compose, Material Design 3, FireBase, MVVM, Clean Architecture.</h1>
      <button class="project3"></button>
      <img class="project3Pic" src="assets/project3.png" alt="aboutme pictures">
      <span class="project3Desc">Android app for groceries and to-dos, with ability to share with friends and play simple games for who to pay or share tasks and do it together. </span>
      <button class = "project3Link"><span class="project3LinkText">Desgining</span></button>
      <button class="project4"></button>
      <img class="project4Pic" src="assets/project4.png" alt="aboutme pictures">
      <span class="project4Title">Airways flight booking website</span>
      <span class="project4Desc">Full stack flight booking website with 3 different type of users, Customer can book flights, checkout and rate, Customer service can help users with everything from finding flights to checking out and reviewing customer rating, Quality control insures that everything is working fine between Customers and Customer service.</span>
      <a href="https://github.com/MohhammedNasr/Flight-Airways-Website"><button class = "project4Link"><img src="assets/github.png" alt="github"></button></a>
      <h1 class="project4Tech">PHP, CSS, HTML, JavaScript, MySQL</h1>
    </div>
  </body>
</html>
