<html>
  <body>
    <div>
      <img class="contactPic1" src="assets/contactPic1.svg" alt="contactMe">
      <h1 class="contactText">Got a project in mind?</h1>
      <form action="">
        <input type="text"id="name"name="name"class="contactNameInput"/>
        <input type="email"id="email"name="email"class="contactEmailInput"/>
        <input type="text"id="msg"name="msg"class="contactMessageContainer"/>
        <button class="contactSend"><span class="contactSendText">Send Message</span></button>
      </form>
      <h1 class="contactInfoName">Your name</h1>
      <h1 class="contactInfoEmail">Your Email</h1>
      <h1 class="contactMessage">Your Message</h1>
      <img class="contactSendIcon" src="assets/send.png" alt="contactMe">
      <img class="springArrow2" src="assets/springArrow2.svg" alt="contactMe">
      <img class="contactMePic" src="assets/contactMePic.svg" alt="contactMe">
      <img class="contactPic2" src="assets/contactPic2.png" alt="contactMe">
    </div>
  </body>
</html>

