<html>
  <body>
    <div class ="bigtext">
      Ui designer and Android developer
    </div>
    <img class ="bigPicture" src="assets/bigPicture.svg" alt="big pic">
    <a routerLink="error404"><button class="cvButton"><span class="cvButtonText">Download CV</span></button></a>
    <div class="social-buttons">
      <a href="https://www.linkedin.com/in/mohhammed-nasr/" class="social-button social-button--linkedin">
        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/MohhammedNasr" class="social-button social-button--github">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
      <a class="social-button social-button--mail">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </body>
</html>
